.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 1rem;
    margin-top: 6rem;
  }
  
  .gallery-item {
    width: 100%;
    height: 200px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  .gallery-item:hover{
    cursor: pointer;
  }
  
  .image-cell,
  .pdf-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  .image-container {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
  }
  
  .image-cell p,
  .pdf-thumbnail p {
    font-size: 1rem;
    margin: 0;
    padding-top: 1rem;
    word-break: break-word;
    color: #333;
  }
  
  @media screen and (max-width: 1250px) {
    .gallery-grid {
      gap: 25px;
      padding: 2rem;
      margin-top: 6rem;
    }
  }